# Binary File
*.nds
*.NDS
*.cia
*.app
*.srldr
*.elf
*.arm7
*.arm9
*.DS_Store
*soundbank*.bin
thumbs.db
!GBARunner2_arm9dldi_ds.nds
!GBARunner2_arm7dldi_ds.nds
!GBARunner2_arm7dldi_dsi.nds
!GBARunner2_arm7dldi_3ds.nds
!GBARunner2_arm7dldi_nodsp_dsi.nds
!GBARunner2_arm7dldi_nodsp_3ds.nds
!/7zfile/_nds/TWiLightMenu/*/*.NDS
!/7zfile/Flashcard users/Autoboot/*/*.NDS
!/7zfile/Flashcard users/Autoboot/*/*/*.NDS
!/7zfile/Flashcard users/Flashcart Loader/*/*/*.NDS

# Build Directory
build/
data/

# Project Files
.idea/
.vscode/
ipch/

7zfile/Flashcard users/Autoboot/Acekard 2i & Acekard 2.1/akmenu4.nds
7zfile/Flashcard users/Autoboot/EZ Flash V/ez5sys.bin
7zfile/Flashcard users/Autoboot/Galaxy Eagle/_MENU_.NDS
7zfile/Flashcard users/Autoboot/Galaxy Eagle/_MENU_B.NDS
7zfile/Flashcard users/Autoboot/Games N Music/Non-SDHC/bootme.nds
7zfile/Flashcard users/Autoboot/Games N Music/SDHC/bootme.nds
7zfile/Flashcard users/Autoboot/GBAMP + PassMe, FlashMe or WifiMe/_BOOT_MP.NDS
7zfile/Flashcard users/Autoboot/iSmart Premium/system/ismat.dat
7zfile/Flashcard users/Autoboot/R4iDSN & R4 Ultra/_MENU_.NDS
7zfile/Flashcard users/Autoboot/R4iDSN & R4 Ultra/_MENU_B.NDS
7zfile/Flashcard users/Autoboot/SuperCard DSTWO/_dstwo/dstwo.nds
7zfile/Flashcard users/Autoboot/SuperCard DSONE & SuperCard DSONEi/TTMenu.DAT
7zfile/Flashcard users/Autoboot/Original R4 & M3 Simply/_DS_MENU.DAT
7zfile/Flashcard users/Autoboot/R4i Gold 3DS Plus, R4i Gold 3DS Deluxe & R4i Gold 3DS RTS/_DS_MENU.DAT
7zfile/Flashcard users/Autoboot/Ace3DS/3DSCARD.DAT
7zfile/Flashcard users/Autoboot/Blue R4i Revolution v1.4.1, R4i Gold Upgrade Revolution v1.4.1, GoldR4 3DS (v4.301 kernel) & R4i SDHC Upgrade Revolution (www.r4i-sdhc.com.tw)/iLL.iL
7zfile/Flashcard users/Autoboot/DSTT, DSTTi, DSTTi Gold, DSTT-Advance, R4Top Revolution, & R4i-SDHC v1.41 + v1.42/TTMenu.dat
7zfile/Flashcard users/Autoboot/R4 Deluxe v1.20/_DS_MENU.DAT
7zfile/Flashcard users/Autoboot/R4i DSi XL & R4V-R4i v2.2 + v2.5/iLL.iL
7zfile/Flashcard users/Autoboot/R4i DSi XL & R4V-R4i v2.2 + v2.5/R4i.TP
7zfile/Flashcard users/Autoboot/R4i Gold Upgrade Revolution (v1.14b kernel)/R4i.dat
7zfile/Flashcard users/Autoboot/R4i King LL/R4KING
7zfile/Flashcard users/Autoboot/R4i SDHC Upgrade Revolution (www.r4i-dshc.com), R4i 3DS (v4.3 kernel) & R4i YES/R4i.TP
7zfile/Flashcard users/Autoboot/R4i Upgrade Revolution/R4i.3ds
7zfile/Flashcard users/Autoboot/R4i-REDANT/Redant.dat
7zfile/Flashcard users/Autoboot/R4IIISDHC (v3.07 kernel) & R4i SDHC Silver RTS Lite/R4.dat
7zfile/Flashcard users/Autoboot/R4i-SDHC, r4isdhc.com cards, R4i SDHC Upgrade Revolution, R4DSiXL3D, R4i Advance, R4-IIIi, R4 SDHC Revolution, R4(i) Pocket, R4i Gold (v1.4.1) (3DS) & R4xDS/_BOOT_DS.NDS
