name: Build TWiLight Menu++ Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:20200730
    name: "Build with Docker using devKitARM r55"
    outputs:
      commit_tag: ${{ steps.make-cias.outputs.commit_tag }}
      commit_message: ${{ steps.make-cias.outputs.commit_message }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v1
        with:
          submodules: recursive
      - name: "Install tools"
        run: |
          sudo apt-get update
          sudo apt-get install p7zip-full python3 jq -y
      - name: "Build TWiLightMenu++"
        run: |
          make package
      - name: "Make booter and TWiLightMenu CIAs"
        id: make-cias
        run: |
          cd booter/
          chmod +x make_cia
          ./make_cia --srl="booter.nds" --id_0=$(git rev-parse --short=7 HEAD) --tikID=$(git rev-parse --short=16 HEAD)
          mkdir -p "../7zfile/3DS - CFW users/"
          cp "booter.cia" "../7zfile/3DS - CFW users/TWiLight Menu.cia"

          cd ../rungame/
          chmod +x make_cia
          ./make_cia --srl="rungame.nds" --id_0=$(git rev-parse --short=7 HEAD) --tikID=$(git rev-parse --short=16 HEAD)
          cp "rungame.cia" "../7zfile/3DS - CFW users/TWiLight Menu - Game booter.cia"

          echo "::set-output name=commit_tag::$(git log --format=%h -1)"
          echo "::set-output name=commit_message::$(git log --pretty=format:'%an - %s' -1)"
      - name: "Pack 7z Package for release"
        run: |
          mkdir -p 7zfile/_nds/TWiLightMenu/boxart/
          mkdir -p 7zfile/_nds/TWiLightMenu/extras/
          mkdir -p 7zfile/_nds/TWiLightMenu/gamesettings/

          # nds-bootstrap
          mkdir -p nds-bootstrap
          cd nds-bootstrap
          curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/ahezard/nds-bootstrap/releases/latest -o nds-bootstrap.json
          curl -L $(jq --raw-output '.assets[0].browser_download_url' nds-bootstrap.json) -o nds-bootstrap.7z
          7z x nds-bootstrap.7z
          mv nds-bootstrap.* ..
          mkdir -p TWiLightMenu
          mv release-bootstrap.ver TWiLightMenu
          cd ..
          curl -L https://github.com/TWLBot/Builds/blob/master/nds-bootstrap.7z?raw=true -o nds-bootstrap.7z
          7z x nds-bootstrap.7z
          mv nds-bootstrap/TWiLightMenu/release-bootstrap.ver 7zfile/_nds/TWiLightMenu
          mv nds-bootstrap/TWiLightMenu/nightly-bootstrap.ver 7zfile/_nds/TWiLightMenu
          mv nds-bootstrap/b4ds-release.nds 7zfile/Flashcard\ users/_nds/
          mv nds-bootstrap/b4ds-nightly.nds 7zfile/Flashcard\ users/_nds/
          mv nds-bootstrap/nds-bootstrap-release.nds 7zfile/_nds/
          mv nds-bootstrap/nds-bootstrap-nightly.nds 7zfile/_nds/
          mv nds-bootstrap/nds-bootstrap-hb-release.nds 7zfile/DSi\&3DS\ -\ SD\ card\ users/_nds/
          mv nds-bootstrap/nds-bootstrap-hb-nightly.nds 7zfile/DSi\&3DS\ -\ SD\ card\ users/_nds/

          # version.txt
          printf "TWiLight Menu++: $(git describe --tags)\nnds-bootstrap: $(jq --raw-output '.tag_name' nds-bootstrap.json)\n\nRocketRobz, ahezard\n" > 7zfile/version.txt

          # Really dumb hidden file that for some reason fixes the releases
          touch 7zfile/.ignoreme

          # Main 7z
          cp -r 7zfile TWiLightMenu
          cd TWiLightMenu
          7z a TWiLightMenu.7z .
          mkdir -p ~/artifacts
          mv TWiLightMenu.7z ~/artifacts

          # DSi 7z
          cp -r DSi\ -\ CFW\ users/* .
          rm -rf DSi\ -\ CFW\ users
          cp -r DSi\&3DS\ -\ SD\ card\ users/* .
          rm -rf DSi\&3DS\ -\ SD\ card\ users
          rm -rf 3DS\ -\ CFW\ users
          rm -rf Flashcard\ users
          7z a TWiLightMenu-DSi.7z
          mv TWiLightMenu-DSi.7z ~/artifacts

          # 3DS 7z
          cd ..
          rm -rf TWiLightMenu
          cp -r 7zfile/ TWiLightMenu/
          cd TWiLightMenu
          cp -r 3DS\ -\ CFW\ users/* .
          rm -rf 3DS\ -\ CFW\ users
          cp -r DSi\&3DS\ -\ SD\ card\ users/* .
          rm -rf DSi\&3DS\ -\ SD\ card\ users
          rm -rf DSi\ -\ CFW\ users
          rm -rf Flashcard\ users
          7z a TWiLightMenu-3DS.7z
          mv TWiLightMenu-3DS.7z ~/artifacts

          # Flashcard 7z
          cd ..
          rm -rf TWiLightMenu
          cp -r 7zfile/ TWiLightMenu/
          cd TWiLightMenu
          cp -r Flashcard\ users/* .
          rm -rf Flashcard\ users
          rm -rf 3DS\ -\ CFW\ users
          rm -rf DSi\&3DS\ -\ SD\ card\ users
          rm -rf DSi\ -\ CFW\ users
          7z a TWiLightMenu-Flashcard.7z
          mv TWiLightMenu-Flashcard.7z ~/artifacts
      - name: "Publish build to GH Actions"
        uses: actions/upload-artifact@v2
        with:
          path: ~/artifacts/

  # Only run this for non-PR jobs.
  publish_build_twlbot:
    runs-on: ubuntu-latest
    name: "Publish build to TWLBot"
    if: ${{ success() }}
    needs: build
    env:
      COMMIT_TAG: ${{ needs.build.outputs.commit_tag }}
      COMMIT_MESSAGE: ${{ needs.build.outputs.commit_message }}
    outputs:
      current_date: ${{ steps.commit.outputs.current_date }}
      twlbot_commit: ${{ steps.commit.outputs.twlbot_commit }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v1
      - name: Download artifacts
        uses: actions/download-artifact@v2
        with:
          path: "build"
      - name: Upload to DS-Homebrew/TWiLightMenu release
        run: |
          ID=$(jq --raw-output '.release.id' $GITHUB_EVENT_PATH)

          for file in ${{ github.workspace }}/build/*; do
            AUTH_HEADER="Authorization: token ${{ secrets.GITHUB_TOKEN }}"
            CONTENT_LENGTH="Content-Length: $(stat -c%s $file)"
            CONTENT_TYPE="Content-Type: application/7z-x-compressed"
            UPLOAD_URL="https://uploads.github.com/repos/${{ github.repository }}/releases/$ID/assets?name=$(basename $file)"

            curl -XPOST -H "$AUTH_HEADER" -H "$CONTENT_LENGTH" -H "$CONTENT_TYPE" --upload-file "$file" "$UPLOAD_URL"
          done

  send_webhook_success:
    runs-on: ubuntu-latest
    needs: [publish_build_twlbot, build]
    name: "Send Discord success webhook"
    if: ${{ success() }}
    env:
      COMMIT_TAG: ${{ needs.build.outputs.commite_tag }}
      COMMIT_MESSAGE: ${{ needs.build.outputs.commit_message }}
      CURRENT_DATE: ${{ needs.publish_build_twlbot.outputs.current_date }}
      TWLBOT_COMMIT: ${{ needs.publish_build_twlbot.outputs.twlbot_commit }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v1
      - name: "Send success webhook"
        run: |
          curl -o send.sh https://raw.githubusercontent.com/DS-Homebrew/discord-webhooks/master/send-ghactions.sh
          chmod +x send.sh
          ./send.sh success ${{ secrets.WEBHOOK_URL }}

  send_webhook_failure:
    runs-on: ubuntu-latest
    needs: [publish_build_twlbot, build]
    name: "Send Discord failure webhook"
    if: ${{ failure() }}
    env:
      COMMIT_TAG: ${{ needs.build.outputs.commite_tag }}
      COMMIT_MESSAGE: ${{ needs.build.outputs.commit_message }}
      CURRENT_DATE: ${{ needs.publish_build_twlbot.outputs.current_date }}
      TWLBOT_COMMIT: ${{ needs.publish_build_twlbot.outputs.twlbot_commit }}
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v1
      - name: "Send failure webhook"
        run: |
          curl -o send.sh https://raw.githubusercontent.com/DS-Homebrew/discord-webhooks/master/send-ghactions.sh
          chmod +x send.sh
          ./send.sh failure ${{ secrets.WEBHOOK_URL }}
